/* .lien1 {
    color: red;
    text-decoration: none;
} */


/* 
.choix {
    color: green;
    margin-left: 3rem;
} */


/* #contenair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contenair #item-contener-photofleche {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenair #item-contener-photofleche .contener-photo {
    display: flex;
    flex-direction: column;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem grey;
}

#contenair #item-contener-photofleche .contener-photo img {
    width: 100vh;
    height: 70vh;
    object-fit: cover;
}

#contenair #item-contener-photofleche .chevron,
#contenair #item-contener-btn .pause-play {
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
}

#ajout img.hidden {
    display: none;
}

#ajout img {
    opacity: 0;
    transition: opacity 0.6 ease-in-out;
}

#ajout img.show {
    opacity: 1;
    transition: opacity 0.6 ease-in-out;
} */


/* ------------------------------------------- Control formulaire ---------------------------------- */


/* .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .form-group {
    width: 95vh;
}

.form .form-group .form-control {
    width: 100%;
    padding: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
} */


/* .form .form-group .submit {
    display: block;
    width: 100%;
    padding: 0.2rem;
    border: none;
    background-color: rgba(0, 132, 255, 0.472);
    cursor: pointer;
    color: white;
    margin-top: 0.5rem;
} */


/* //////////////////////////////////////////  API METEO //////////////////////////////////////////////// */

#contener-form-h1-contnerresult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#contener-form-h1-contnerresult #contener-form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contener-form-h1-contnerresult #contener-form-btn form {
    width: 400px;
}

#contener-form-h1-contnerresult #contener-form-btn form input {
    width: 100%;
    padding: 0.4rem;
}

#contener-form-h1-contnerresult #contener-form-btn .btn {
    padding: 0.4rem;
    width: 100%;
    margin-top: -0.5rem;
    border: none;
    background-color: rgba(0, 132, 255, 0.993);
    color: white;
    cursor: pointer;
}

#contener-form-h1-contnerresult #contener-results {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    width: 400px;
    margin-top: 1rem;
}

#contener-form-h1-contnerresult #contener-results #town,
#contener-form-h1-contnerresult #contener-results #temp,
#contener-form-h1-contnerresult #contener-results #vent,
#contener-form-h1-contnerresult #contener-results #humidity {
    width: 200px;
    height: 200px;
}

#contener-form-h1-contnerresult #contener-results #town {
    background-color: rgb(132, 158, 235);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contener-form-h1-contnerresult #contener-results #temp {
    background-color: rgba(68, 68, 207, 0.767);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contener-form-h1-contnerresult #contener-results #vent {
    background-color: rgb(180, 169, 169);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contener-form-h1-contnerresult #contener-results #humidity {
    background-color: turquoise;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}